BASE_IMAGE=python:3.12-slim-bookworm
INSTALL_TORCH=1
TORCH_INDEX_URL=https://download.pytorch.org/whl/cpu
MODEL_DIR_HOST=./models/vibeVoice
AUDIO_DIR_HOST=./data/audio
HF_CACHE_HOST=./cache/huggingface
TRANSFORMERS_OFFLINE=1
PORT=8083
CONTAINER_PORT=8080
OPENAI_COMPAT_MODEL=vibevoice-asr
ASR_DEVICE=auto
ASR_DTYPE=auto
